$primary: #100F3A;
$secondary: #8583E1;
$tertiary: grey;
$grey: #f1f3f5;
$grey-dark:  #a5a5a5;
$white: white;
$black: black;

@mixin flex($flex-direction: row){
    display: flex;
   flex-direction: $flex-direction;
   justify-content: space-between;
   flex-wrap: wrap;

}


html, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: block;
    line-height: 1.5em;
    font-family: 'Montserrat';
    font-size: 1em;
}

h2{
    font-size: 2em;
}

li{
    list-style: none;
}

.header{
    width: 60%;
    margin: 30px auto 0px auto;
    height: 30px;
    background-color:  $primary;
    @include flex();
    text-align: center;
    justify-content: start;

    &__logo{
        display: table;
        font-size: 1.2em;
        cursor: pointer;
     //   background-color: black;
        width: 20%;
        margin: auto;

        p{
            display: table-cell;
            vertical-align:  middle;
            margin: -30px auto;
            text-decoration: none;

        span{
            color: $white;
        }

        strong{
            color: $secondary
        }
        }
    }

    &__list{
        @include flex();
      //  display: none;
      background-color: $primary;
   justify-content: flex-end;
      width: 80%;
      text-align: center;
      margin: auto;
      height: 30px;

        &__item{
            flex: 1;
            cursor: pointer;
            width: 40px;
            display: table;
            height: 30px;
            cursor: pointer;
            font-size: 1.3em;
            text-align: center;
            border: 1px solid $white;

            p{
                color: $white;
                display: table-cell;
                font-size: 0.8em;
                vertical-align: middle;
            }
        }

        &__item:hover{
            background-color: $secondary;
        }
    }

}

.app{
    background-color: $white;
    background-color: blue;

}

.main{
 //   background-color: red;
    width: 90%;
    margin: 0 auto;
    @include flex();
    justify-content: start;

    &__card{
        @include flex();
        width: 340px;
        background-color: $primary;
        height: 100%;
        color: $white;

        .card{
            height: 100%;
        }
    }

    &__content{
        width: 70%;
        background-color: $grey;
        .content{
            width: 100%;
            height: 100%;

            .infos{
              //background-color: yellow;
                height: 100%;
                padding-left: 60px;
                padding-top: 80px;
                text-align: left;
                display: block;

                .message{
                    margin: auto 60px auto auto;
                    width: max-content;
                    background-color: $secondary;
                    @include flex();
                    text-align: center;
                    height: 45px;
                    color: $white;
                    padding-left: 5px;
                    cursor: pointer;

                  &__text{
                    display: table;

                    p{
                        display: table-cell;
                        vertical-align: middle;
                    }
                  }

                    &__btn{
                        background-color: $primary;
                        width: 45px;
                        text-align: center;
                        margin: auto 0 auto 10px;
                        height: 100%;
                        display: table;
                        i{
                            color: $white;
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                }

                span{
                    margin: 60px auto;
                    color: $primary;
                }

                h1{
                    color: $primary;
                    margin: 40px auto;
                    font-size: 3em;
                    font-weight: bold;
                }

                strong{
                    margin: 20px auto;
                    font-size: 1.2em;
                    color: $primary;
                }

                p{
                    width: 80%;
                    margin: 30px auto auto 0;
                    text-align: justify;
                }
            }


        }
    }
}

.profile{
    width: 340px;
    margin: auto;
    &__pic{
        img{
            width: 100%;
            height: 350px;
        }
    }

    &__details{
        text-align: center;

        h2{
            text-decoration: underline;
        }
        &__list{
            width: 90%;
            margin: 15px auto;
            text-align: center;
               p{
                width: 100%;
                text-align: left;



                i{
                     margin-right: 30px;
                    margin: auto 30px auto 0;
                    color: $secondary;
                }
               }

               .icons{
                width: 80%;
                margin:  20px auto;
                a{
                    margin: 5px;
                    i{
                        font-size: 1.2em;
                        color: $primary;
                        color: $secondary;
                    }
                }
               }
        }
    }
}

